@page
@model Formation.Pages.Restaurants.NotFoundModel
@{
}

<div class="mt-3 mb-3">
    <h2>Your restaurant was not found</h2>
    <a asp-page="./List" class="btn btn-primary">See All Restaurants</a>
</div>